<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FileMapper">
	<resultMap type="com.my.vo.File_Art" id="Files">
		<result property="article_id" column="article_id" />
		<result property="file_id" column="file_id" />
		<result property="file_name" column="file_name" />
		<result property="use_status" column="use_status" />
	</resultMap>

	<insert id="insertFile" parameterType="java.util.HashMap">
		insert into FILE_ART
		VALUES (#{article_id}, file_seq.nextval, #{file_name}, 'Y')
	</insert>
	<update id="deleteByFileId" parameterType="int">
		update FILE_ART SET
		use_status='N' WHERE file_id=#{file_id}
	</update>
	<update id="deleteByArtId" parameterType="int">
		update FILE_ART SET
		use_status='N' WHERE article_id=#{art_id}
	</update>
	<select id="selectById" parameterType="int" resultMap="files">
		SELECT
		file_name, member_id, art_reg_date
		FROM FILE_ART
		JOIN article ON article.article_id=file_art.article_id
		WHERE article_id=#{id}
	</select>
	<select id="selectByNation" parameterType="int" resultMap="files">
		SELECT
		file_name, member_id, art_reg_date
		FROM FILE_ART
		JOIN article ON article.article_id=file_art.article_id
		WHERE nation_id=#{id}
	</select>
</mapper>
