<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NationMapper">
	<insert id="insert" parameterType="hashmap">
		INSERT INTO nation VALUES(nation_seq.NEXTVAL,#{planet_id}, #{nation_name},#{nation_status},'Y')
	</insert>
	<update id="update" parameterType="com.my.vo.Nation">
		UPDATE nation SET nation_name=#{nation_name}, nation_status=#{nation_status} 
		WHERE nation_id=#{nation_id}
	</update>
	<select id="selectByMemberList" parameterType="java.lang.String" resultType="com.my.vo.Nation">
		SELECT * FROM nation
		WHERE not nation_id IN ( SELECT nation_id FROM n_mem WHERE member_id=#{member_id})
		AND nation_status='Y'
	</select>
	<select id="selectByMemberId" parameterType="java.lang.String" resultType="com.my.vo.Nation">
		SELECT * FROM nation 
		WHERE nation_id IN ( SELECT nation_id FROM n_mem WHERE member_id=#{member_id})
	</select>
	<update id="delete" parameterType="java.lang.String">
		UPDATE nation SET use_status='N' WHERE nation_id=#{nation_id}
	</update>
</mapper>