<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="N_MemMapper">
	<select id="selectByPlanetId" parameterType="java.lang.Integer" resultType="com.my.vo.N_Mem">
		select * from planet where planet_id=#{planet_id} 
	</select>
	<insert id="insertMaster" parameterType="com.my.vo.N_Mem">
		INSERT INTO n_mem VALUES(#{member_id},#{planet_id},#{nation_id},'Y','Y')
	</insert>
	<insert id="insert" parameterType="com.my.vo.N_Mem">
		INSERT INTO n_mem VALUES(#{member_id},#{planet_id},#{nation_id},'N','Y')
	</insert>
	<select id="selectByNationId" parameterType="java.lang.Integer" resultType="com.my.vo.N_Mem">
		SELECT * FROM n_mem WHERE nation_id=#{nation_id}
	</select>
	<update id="updatenormal" parameterType="hashmap">
		UPDATE n_mem SET member_status='N' WHERE member_id=#{member_id} AND nation_id=#{nation_id}
	</update>
	<update id="updatemaster" parameterType="hashmap">
		UPDATE n_mem SET member_status='Y' WHERE member_id=#{member_id} AND nation_id=#{nation_id}
	</update>
	<update id="leave" parameterType="hashmap">
		UPDATE n_mem SET use_status='N' WHERE member_id=#{member_id} AND nation_id=#{nation_id}	
	</update>

</mapper>