<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="P_MemMapper">
	<insert id="insertMaster" parameterType="com.my.vo.P_Mem">
		INSERT INTO p_mem VALUES( #{member_id}, #{planet_id}, #{nickname}, #{reg_date}, 'Y', 'Y' )	
	</insert>
	<insert id="insert" parameterType="com.my.vo.P_Mem">
		INSERT INTO p_mem VALUES( #{member_id}, #{planet_id}, #{nickname}, #{reg_date}, 'N', 'Y' )	
	</insert>
	<update id="update" parameterType="com.my.vo.P_Mem">
		UPDATE p_mem SET nickname=#{nickname} WHERE member_id=#{member_id}	
	</update>
	<update id="leave" parameterType="java.lang.String">
		UPDATE p_mem SET use_status='N' WHERE member_id=#{member_id}
	</update>
	<update id="updatenormal" parameterType="java.lang.String">
		UPDATE p_mem SET member_status='N' WHERE member_id=#{member_id}
	</update>
	<update id="updatemaster" parameterType="java.lang.String">
		UPDATE p_mem SET member_status='Y' WHERE member_id=#{member_id}
	</update>
	<select id="selectById" parameterType="java.lang.String" resultType="com.my.vo.P_Mem">
		SELECT * 
		FROM p_mem pm JOIN member m ON pm.member_id=m.member_id
		WHERE pm.member_id=#{member_id}
	</select>
</mapper>