<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeamMapper">
	<insert id="insert" parameterType="com.my.vo.Team">
		INSERT INTO team VALUES(#{team_id},#{team_name},#{member_status})
	</insert>
	<update id="delete" parameterType="java.lang.Integer">
		UPDATE team SET use_status='N' WHERE team_id=#{team_id}
	</update>
	<update id="update" parameterType="com.my.vo.Team">
		UPDATE team SET team_name=#{team_name} WHERE team_id=#{team_id}
	</update>
</mapper>